main{
    width: 375px; height: 812px; 
    margin: 50px auto; border: 1px solid #999;
    background: url(../image/bg.jpg) center/cover;
}
main h1{
    font-size: 1.563rem; font-weight: 600; text-transform: uppercase;
    padding: 25px; border-bottom: 5px solid #9EC9FE; background-color: #fff;
    height: 80px; display: flex; align-items: center;
}
main .input_box{
    padding: 10px;
    display: flex; justify-content: space-between;
    align-items: center; background-color: #fff;
}
main .input_box .content{}
main .input_box .content[type=text]{
    color: #999; width: 303px; padding: 5px 8px;
    border-radius: 5px; font-size: 0.75rem; 
    border: 1px solid #999;
}
main .input_box #check_btn{
    font-size: 0.75rem; color: #fff;
    background-color: #9EC9FE; border-radius: 5px;
    padding: 8px 8px; 
}
main .input_box #check_btn:hover{background-color: #F9AECC;}
main ul{
    width: 100%; display: flex; flex-flow: column nowrap;
    padding: 20px 30px; background: none; display: none;/* 감춤 */
}
main ul li{
    padding: 10px; display: flex; justify-content: space-between; align-items: center;
    border-radius: 5px; margin-bottom: 10px; background-color: #fff; border: 1px solid #888;
}
main ul li span{display: block;margin-bottom: 1px;}
main ul li .close_btn{}
main ul li .close_btn img{}
